@tailwind base;
@tailwind components;
@tailwind utilities;


/* .border-gradient {
    border-color: linear-gradient(to right, #66CCFF, #9277FF, #FF9D5C 80%, #FF5C9D) 1;
   
} */

/* .border-gradient {
    border: 2px solid transparent;
    background: linear-gradient(to right, #66CCFF, #9277FF, #FF9D5C 80%, #FF5C9D);
  }
   */

/* .rounded-t-20 {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
  
  .rounded-br-20 {
    border-bottom-right-radius: 20px !important;
  }

  .rounded-custom{
      border-radius: 20px
  } */

